#footer {
    background-color: var(--color-primary);
    height: 4rem;
    transition: var(--transition);
    box-shadow: 0rem -1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
}

.footer_container p{
    padding-top: 1.7rem;
    color: var(--color-white);
    text-align: center;
}